__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.ipynb
*.pt
*.pth
*.onnx
.venv/
.env/
env/
venv/
_Deprecated/
logs/
*models/
*notebooks/
examples/
