quant-drl-core==0.1.0
streamlit==1.44.1
pandas>=2.2.3
numpy>=2.0.0
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
loguru>=0.7.3
plotly>=6.0.0
dotenv==0.9.9
bcrypt==4.3.0
matplotlib>=3.9.0
matplotx<=0.3.10
anywidget==0.9.18
